<header class="bar-header">
    <h1 class="logo">
		{% if page.locale == "vi" %}
		<a href="{{site.baseurl}}/"></a>
		{% else %}
		<a href="{{site.baseurl}}/en"></a>
		{% endif %}
    </h1>
</header>

<div class="search-wrapper">
    <div class="search-form">
        <input type="text" class="search-field" placeholder="Search...">
        <svg class="icon-remove-sign"><use xlink:href="#icon-close"></use></svg>
        <ul class="search-results search-list"></ul>
    </div>
</div>

<div id="fade" class="overlay"></div>
<a id="slide" class="slideButton fade">
    <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
    <svg id="close" class="icon-menu"><use xlink:href="#icon-close"></use></svg>
</a>
<aside id="sidebar">
<nav id="navigation">
  <h2>MENU</h2>
  <ul>
    {% for link in site.data.locales[page.locale].menu %}
      <li><a href="{{ site.url }}{{site.baseurl}}{{ link.url }}">{{ link.title }}</a></li>
	{% endfor %}
	{% if page.locale == "vi" %}
    <li><a class="feed" href="{{ site.url }}{{site.baseurl}}/feed.xml" title="Atom/RSS feed">Feed</a></li>
	{% elsif page.locale == "en" %}
    <li><a class="feed" href="{{ site.url }}{{site.baseurl}}/en/feed.xml" title="Atom/RSS feed">Feed</a></li>
	{% endif %}
  </ul>
</nav>
</aside>
<a id="search" class="dosearch">
    <svg class="icon-menu icon-search"><use xlink:href="#icon-search"></use></svg>
</a>