---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'vi' }}" itemscope itemtype="http://schema.org/WebPage" {% if page.main-class %}class="post-{{ page.main-class }}"{% endif %}>
    {% include head.html %}
    <body>
        {% include svg-icons.html %}
        {% include header-default.html %}
            <section class="content">
                {{ content }}
			</section>
			<div id="outer">
				<div id="table-container">
					<div id="table-cell">
						<div class="loadingio-spinner-bean-eater-o1ri2i3vvdm">
							<div class="ldio-jaaguf6iwn">
								<div>
									<div></div>
									<div></div>
									<div></div>
								</div>
								<div>
									<div></div>
									<div></div>
									<div></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        {% include footer.html %}
    </body>
</html>